@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

:root{
  --mainColor: #603C14;
  --blockColor: #9C2706;
  --fontColor: #F3BC2E;
  --shadowColor: #3e0f02;
  --hoverColor: #603C14;
  --mainFont: 'Cabin Sketch', cursive;
  --textShadow: 1px 1px 1px #603C14;
  --customCursor: url('/images/coffeeCursor.png'), auto;
}