@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

:root{
  --mainColor: #E8175D;
  --blockColor: #CC527A;
  --fontColor: #474747;
  --shadowColor: #641d34;
  --hoverColor: #E8175D;
  --mainFont: 'Hi Melody', cursive;
  --textShadow: 1px 1px 1px #E8175D;
  --customCursor: url('/images/berryCursor.png'), auto;
  --borderBox: 3px groove #FF5DE8;
}