@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');

:root{
  --mainColor: #00C2BA;
  --blockColor: #FF8FCF;
  --fontColor: #037A90;
  --shadowColor: #037A90;
  --hoverColor: #00C2BA;
  --mainFont: 'Philosopher', sans-serif;
}