@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

:root{
  --mainColor: #EC2049;
  --blockColor: #2F9599;
  --fontColor: #F7DB4F;
  --shadowColor: #4b1800;
  --hoverColor: #EC2049;
  --mainFont: 'Finger Paint', cursive;
  --textShadow: 1px 1px 1px #EC2049;
  --customCursor: url('/images/sunCursor.png'), auto;
}