@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root{
  --mainColor: #FF5DE8;
  --blockColor: #E1E300;
  --fontColor: #2F0058;
  --shadowColor: #2F0058;
  --hoverColor: #FF5DE8;
  --mainFont: 'Special Elite', cursive;
}