/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root{
  --mainColor: #ffffff;
  --blockColor: #f1f1f1;
  --fontColor: #000000;
  --hoverColor: #ddd;
  --wineColor: #571032;
  --iWantMyMTVColor: #ff5de8;
  --brPastelColor: #00c2ba;
  --goEagles: #004c54;
  --mrAndersonColor: #003b00;
  --whimsyShireColor: #9e9cf3;
  --houseStarkColor: #37474e;
  --goOrangeColor: #d44500;
  --wavesColor: #003b46;
  --cherryLimeadeColor: #CBE371;
  --subduedColor: #6c5b7b;
  --coralColor: #e84a5f;
  --happyColor: #EC2049;
  --berryColor: #E8175D;
  --autumnColor: #603C14;
  --midnightColor: #240c44;
  --chocolateMintColor: #65dcb4;
  --shadowColor: #464646; 
  --mainFont: 'Inconsolata', monospace;
  --textShadow: 1px 1px 1px #DDDDDD;
  --customCursor: url('/images/compcursor2.png'), auto;
}

body{
  margin: 0;
  /* font-family: 'VT323', monospace; */
  /* font-family: 'Inconsolata', monospace; */
  cursor: var(--customCursor);
  background-color: var(--mainColor)
}

/* START OF HEADER */
.header {
  overflow: hidden;
  background-color: var(--blockColor);
  padding: 0.625rem 0.625rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  font-family: var(--mainFont);
}

/* Style the header links */
.header a {
  float: left;
  color: var(--fontColor);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.header a.logo {
  font-size: 25px;
  font-weight: bold;
  text-shadow: var(--textShadow)
}


.header a:hover {
  background-color: var(--hoverColor);
  color: var(--fontColor);
}


.header-right {
  float: right;
  text-shadow: var(--textShadow)
}

#comp{
  width: 8%;
  height: 8%;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/* END OF HEADER */

/* TOPFLEX */
.topFlex{
  display: flex;
  flex-wrap: wrap;
}
/* END OF TOPFLEX */

/* PERSONAL INFO */
.personalInfo{
  text-align: center;
  margin: 10px;
  background-color:  var(--blockColor);
  /* flex-direction: column; */
  flex-basis: 40%;
  flex: 6  5%;
  color: var(--fontColor);
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  font-family: var(--mainFont);
  text-decoration: underline;
  text-shadow: var(--textShadow)
}

#octocat{
  width: 75px;
  height: 75px;
  padding: 20px;
}

#linkedin{
  width: 75px;
  height: 75px;
  padding: 20px;
}

#twitter{
  width: 75px;
  height: 75px;
  padding: 20px;
}

#blog{
  width: 75px;
  height: 75px;
  padding: 20px;
}

#email{
  width: 75px;
  height: 75px;
  padding: 20px;
}
/* END OF PERSONAL INFO */

/* START OF COLOR PICKER */
#colorPicker{
  background-color: var(--blockColor);
  text-align: center;
  height: auto;
  width: auto;
  margin: 1rem;
  flex-basis: 20%;
  flex: 5  8%;
  color: var(--fontColor);
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  font-family: var(--mainFont);
  text-decoration: underline;
}

.cpTitle{
  text-shadow: var(--textShadow)
}

#theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
  border-radius: 50%;
  border: 2px solid var(--fontColor);
  padding: 2rem;
  margin: 1rem;
}

span{
  /* display: none;
  overflow: hidden; */
  color: transparent;
}

#main-mode{
  background-color: white;
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#wine-mode{
  background-color: var(--wineColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#iWantMyMTV-mode{
  background-color: var(--iWantMyMTVColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#brPastel-mode{
  background-color: var(--brPastelColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#goEagles-mode{
  background-color: var(--goEagles);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#mrAnderson-mode{
  background-color: var(--mrAndersonColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#whimsyShire-mode{
  background-color: var(--whimsyShireColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#houseStark-mode{
  background-color: var(--houseStarkColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#goOrange-mode{
  background-color: var(--goOrangeColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#waves-mode{
  background-color: var(--wavesColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#cherryLimeade-mode{
  background-color: var(--cherryLimeadeColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#subdued-mode{
  background-color: var(--subduedColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#coral-mode{
  background-color: var(--coralColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#happy-mode{
  background-color: var(--happyColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#berry-mode{
  background-color: var(--berryColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#autumn-mode{
  background-color: var(--autumnColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#midnight-mode{
  background-color: var(--midnightColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

#chocolateMint-mode{
  background-color: var(--chocolateMintColor);
  height: 2rem;
	width: 2rem;
  float: left;
  padding: .3rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}

/* END OF COLOR PICKER */

/* INTRODUCTION  */
.introduction{
  background-color: var(--blockColor);
  color: var(--fontColor);
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  text-shadow: var(--textShadow);
  font-family: var(--mainFont);
}

#introTitle{
  text-decoration: underline;
}

.introduction > p{
  font-size: 1.125rem;
}
/* END OF INTRODUCTION */

/* OREGON TRAIL  */
.oregonContainer{
  text-align: center;
  background-color: var(--blockColor);
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
}
/* END OF OREGON TRAIL */

/* TECH DIV  */
.techDiv{
  display: flex;
  flex-wrap: wrap;
}

/* TECH SKILLS  */
.techSkills{
  /* background-color: var(--blockColor);
  text-align: center;
  width: auto;
  height: auto;
  flex: 1 0 30%; */

  background-color: var(--blockColor);
  text-align: center;
  height: 75%;
  width: auto;
  margin: 1rem;
  flex-basis: 20%;
  flex: 5  8%;
  color: var(--fontColor);
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  font-family: var(--mainFont);
  text-shadow: var(--textShadow)
}

#tsTitle{
  text-decoration: underline;
}

#html{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#css{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#js{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#ruby{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#rails{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#react{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#redux{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#java{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#node{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#sql{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#mongo{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#oop{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#photoshop{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}

#bootstrap{
  height: 5rem;
	width: 5rem;
  float: center;
  padding: .3rem;
}
/* END OF TECH SKILLS */

/* TECH PROJECTS */
#techProjects{
  margin: 1rem;
  background-color:  var(--blockColor);
  flex: 8  5%;
  color: var(--fontColor);
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  font-family: var(--mainFont);
  text-shadow: var(--textShadow)
}

#tpTitle{
  text-decoration: underline;
  text-align: center;
}
/* END OF PROJECTS */
/* END OF TECH DIV */

/* EXPERIENCE */
#experience{
  width: auto;
  height: auto;
  background-color: var(--blockColor);
  color: var(--fontColor);
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  font-family: var(--mainFont);
  text-shadow: var(--textShadow)
}

#eTitle{
  text-decoration: underline;
}

/* END OF EXPERIENCE */

/* EDUCATION */
#education{
  width: auto;
  height: auto;
  background-color: var(--blockColor);
  color: var(--fontColor);
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  font-family: var(--mainFont);
  text-shadow: var(--textShadow)
}

#edTitle{
  text-decoration: underline;
}
/* END OF EDUCATION */

/* FOOTER */
.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: var(--blockColor);
  color: var(--fontColor);
  text-align: center;
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  font-family: var(--mainFont);
  text-shadow: var(--textShadow)
}
/* END OF FOOTER */