@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root{
  --mainColor: #003B00;
  --blockColor: #00FF41;
  --fontColor: #000000;
  --shadowColor: #00761E;
  --hoverColor: #00761E;
  --mainFont: 'Cutive Mono', monospace;
}