/* @import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
  margin: 0;
  /* font-family: 'Akaya Kanadaka', cursive; */
  font-family: 'VT323', monospace;
  display: flex;
}

/* HEADER */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


.header a:hover {
  background-color: #ddd;
  color: black;
}


.header a.active {
  background-color: dodgerblue;
  color: white;
}


.header-right {
  float: right;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/* End of Header */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
}

/* FOOTER */

/* PERSONAL INFO */

.personalInfo{
  text-align: center;
  margin: 10px;
  
}


#octocat{
  width: 75px;
  height: 75px;
  padding: 20px;
  
}

#linkedin{
  width: 75px;
  height: 75px;
  padding: 20px;
}

#twitter{
  width: 75px;
  height: 75px;
  padding: 20px;
}

#blog{
  width: 75px;
  height: 75px;
  padding: 20px;
}

#email{
  width: 75px;
  height: 75px;
  padding: 20px;
}
/* END OF PERSONAL INFO */

/* INTRODUCTION */

.introduction{
  background-color: #f1f1f1;
  text-align: center;
}

.introduction > p{
  font-size: 20px;
}

/* END OF INTRODUCTION */

/* TECHSKILLS */

.techSkills{
  background-color: #f1f1f1;
  flex-direction: column;
  flex-grow: 2;
  width: 400px;
  height: 500px;
  text-align: center;
}

#tsTitle{
  text-decoration: underline;
}

#html{
  width: 75px;
  height: 75px;
}

#css{
  width: 75px;
  height: 75px;
}

#js{
  width: 75px;
  height: 75px;
}

#ruby{
  width: 75px;
  height: 75px;
}

#rails{
  width: 75px;
  height: 75px;
}

#react{
  width: 75px;
  height: 75px;
}

#redux{
  width: 75px;
  height: 75px;
}

/* END OF TECHSKILLS */

/* TECHPROJECTS */

#techProjects{
  background-color: #f1f1f1;
  flex-direction: column;
  width: 400px;
  height: 500px;
  float:right;
}