@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

:root{
  --mainColor: #003B46;
  --blockColor: #07575B;
  --fontColor: #C4DFE6;
  --shadowColor: #043437;
  --hoverColor: #003B46;
  --mainFont: 'Calligraffitti', cursive;
  --textShadow: 1px 1px 1px #0C233F;
  --customCursor: url('/images/wavesCursor.png'), auto;
}