@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root{
  --mainColor: #5e967b;
  --blockColor: #90a691;
  --fontColor: #c5333d;
  --shadowColor: #250715;
  --hoverColor: #5e967b;
  --mainFont: 'Creepster', cursive;
  --textShadow: 1px 1px 1px #5e967b;
  --customCursor: url('/images/lucilleCursor.png'), auto;
  --borderBox: 3px groove #903b3a;
}